* {
  box-sizing: border-box;
}

body {
  font-family: "Tilt Neon", sans-serif;
  background-color: #f2f2f2;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: #8c1f28;
  font-size: 3rem;
}

header div {
  display: inline-block;
  margin-inline: -1px;
}
#task,
#add-task {
  font-size: 1.1rem;
  font-weight: 500;
}
header div:nth-child(2) {
  width: 80%;
}
header div:nth-child(2) input {
  min-width: 100%;
}

header div:nth-child(3) {
  width: 20%;
}

main div {
  margin-inline: -2px;
  background-color: #044040ba;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 15px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 15px -2px rgba(0, 0, 0, 0.75);
}
main {
  color: #f2f2f2;
}
main div > div:first-child {
  width: 90%;
  word-wrap: break-word;
}

main div div:last-child {
  width: 10%;
}
button {
  background-color: #8c1f28;
  color: white;
  border-radius: 5px;
  text-align: end;
}

.barred-text {
  text-decoration: line-through;
}
